* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}
input {
  -webkit-user-select: auto !important;
}
a {
  color: #01B8E0;
}
.page,
.pages,
.login-screen-content,
.popup,
.list-block ul {
  background-color: #F8F8F8;
}
.login-screen-content .login-screen-title {
  padding-top: 1em;
  /*line-height: 1em;*/
  color: #303030;
}
.login-screen-content .list-block {
  margin-top: 0;
}
.login-screen-content .login-sub-title {
  text-align: center;
  padding-top: 10px;
  color: #8B8B8B;
}
.login-screen-content .list-button {
  margin: 0 25px;
}
.login-screen-content .item-code {
  display: none;
  margin: 0 50px;
}
.login-screen-content .item-code input {
  text-align: center;
}
.login-screen-content .login-input.input-tel {
  padding-left: 35px;
  position: relative;
}
.login-screen-content .login-input span {
  float: left;
  font-size: 20px;
  line-height: 1.3em;
  padding: 5px;
  position: absolute;
  left: 0;
}
.list-block ul:after,
.list-block ul:before {
  display: none;
}
.list-block .item-content {
  padding: 0;
}
.list-block .item-content .item-inner {
  padding: 0;
}
.list-block .item-content .item-inner:after {
  display: none;
}
.login-screen-title {
  padding-top: 1em;
  color: #303030;
  margin-top: 25px;
}
.list-block .item-input {
  background-color: #fff;
  margin: 15px 0 0;
  padding: 5px 15px;
}
.list-block .item-input input {
  background: transparent;
  border: none;
  display: block;
  font-size: 20px;
  line-height: 1.3em;
  padding: 5px 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.list-block .item-link.list-button {
  color: #3192EC;
  font-size: 15px;
}
.list-block .item-link.list-button.list-button-license {
  text-align: left;
  font-size: 15px;
}
.list-block .item-link.list-button.list-button-license:after {
  display: none;
}
.button-divider {
  text-align: center;
  padding-top: 10px;
}
.list-block .item-link.list-button.list-button-custom,
.button-custom {
  padding: 15px;
  line-height: 1.4em;
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
  font-size: 18px;
}
.button-custom {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: center;
}
.list-block .item-link.list-button:after {
  display: none;
}
/**/
.statusbar-overlay,
.navbar,
.subnavbar,
.toolbar {
  background-color: #15A9DB;
  color: #fff;
}
html.ios-gt-8 .navbar .center {
  font-weight: lighter;
}
.navbar:after {
  display: none;
}
.list-block {
  margin-top: 0;
}
.main-list li {
  border-bottom: 1px solid #979797;
}
.main-list li .list-item {
  padding: 10px 20px 10px 50px;
}
.main-list li .list-item .list-item-title {
  font-size: 21px;
}
.main-list li .list-item .list-item-subtitle {
  font-size: 18px;
  font-weight: lighter;
}
.main-list li .list-item.gas {
  background: url(../images/gas.png) 11px 12px no-repeat;
}
.main-list li .list-item.station {
  background: url(../images/station.png) 15px 12px no-repeat;
}
.main-list li .list-item.sell {
  background: url(../images/sell.png) 15px 12px no-repeat;
}
.main-list .list-top-item {
  background: #E8E8E8 url(../images/arrow.png) 97% 50% no-repeat;
  padding: 20px 0;
  text-align: center;
  display: block;
  color: #1F1F1F;
}
.main-list .list-top-item .text1 {
  font-size: 16px;
  color: #1F1F1F;
}
.main-list .list-top-item .text2 {
  font-size: 36px;
  line-height: 1em;
  padding: 7px 0;
}
.main-list .list-top-item .text2 i {
  vertical-align: baseline;
}
.main-list .list-top-item .text3 {
  background-color: #D8D8D8;
  font-size: 16px;
  border-radius: 10px;
  display: inline-block;
  padding: 0 15px 2px;
}
.gas-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  background: url(../images/gasbtn.png) 50% no-repeat;
  width: 96px;
  height: 96px;
  margin-left: -48px;
}
.gas-button.active {
  background-image: url(../images/gasbtn-fill.png);
}
.list-wallet.list-block ul li a.item-content {
  border-bottom: 1px solid #979797;
}
.list-wallet.list-block ul li a.item-content .item-inner {
  padding: 5px 30px 5px 20px;
}
.list-wallet.list-block ul li a.item-content .item-inner .item-title {
  font-size: 24px;
  font-weight: lighter;
}
.list-wallet.list-block ul li a.item-content .item-inner .item-after {
  font-size: 24px;
  color: #1F1F1F;
}
.list-wallet.list-block ul li a.item-content .item-inner .item-after i {
  margin-top: 6px;
  margin-left: 3px;
}
.list-cars.list-block ul li a.item-content {
  border-bottom: 1px solid #979797;
}
.list-cars.list-block ul li a.item-content .item-inner {
  padding: 10px 30px 10px;
}
.list-cars.list-block ul li a.item-content .item-inner .item-title {
  font-size: 21px;
  font-weight: lighter;
}
.gas-main-list .list-top-item {
  background: #E8E8E8;
  padding: 5px 0;
}
.list-block .item-link.smart-select {
  width: 100%;
  background: #fff;
  margin: 5px 0;
  padding: 0 0 0 15px;
}
.list-block .item-link.smart-select .item-after {
  padding-right: 30px;
}
.list-block .item-link.smart-select .item-content {
  padding: 10px 0;
  line-height: 1.3em;
  font-weight: lighter;
  font-size: 33px;
  color: #B6B6B6;
}
.list-block .item-link.smart-select .item-after {
  max-height: inherit;
  max-width: 100%;
}
.list-block .item-link.pay-custom {
  background-color: #fff;
  padding: 15px 40px 15px 20px;
  width: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'><path%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F><%2Fsvg>");
  background-size: 10px 20px;
  background-repeat: no-repeat;
  background-position: 95% center;
}
.list-block .item-link.pay-custom .text1 {
  font-size: 23px;
  color: #B6B6B6;
  font-weight: lighter;
}
.list-block .item-link.pay-custom .text2 {
  font-size: 24px;
  color: #1F1F1F;
  font-weight: lighter;
  overflow: hidden;
}
.list-block .item-link.pay-custom .text2 span {
  float: right;
  font-weight: normal;
}
.list-block .item-link.pay-custom .text2 span i {
  vertical-align: text-top;
  width: 23px;
  height: 23px;
  margin-top: 2px;
  background-color: #000;
  background-size: auto 13px;
}
.list-block .input-row i {
  position: absolute;
  right: 10px;
  top: 31px;
}
.list-block .input-row span {
  font-size: 37px;
}
.list-block .input-row input {
  text-align: center;
  font-size: 33px;
  font-weight: lighter;
  padding: 5px 30px;
  color: #8e8e93;
}
.pad-top {
  padding-top: 30px;
}
.smart-select-label {
  color: #8B8B8B;
  font-size: 21px;
  font-weight: lighter;
  padding: 20px 0 0 20px;
}
.page.smart-select-page .list-block .item-content {
  padding-left: 20px;
}
.title-custom {
  font-size: 56px;
  text-align: center;
  font-weight: lighter;
  padding-top: 20px;
}
.title-custom span {
  color: #01B8E0;
}
.title-custom i.icon.icon-fire {
  vertical-align: baseline;
  width: 40px;
  height: 40px;
  margin: 0 -8px;
  background-size: auto 26px;
}
.label {
  padding: 10px;
  margin: 60px;
  background-color: #fff;
  border: 1px solid #01B8E0;
  border-radius: 25px;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}
.label a {
  display: block;
  padding: 10px 0;
}
.popover-list {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
.popover-list li {
  border-top: 1px solid #15A9DB;
}
.popover-list li:first-child {
  border-top: none;
}
.popover-list li a {
  display: block;
  font-size: 24px;
  color: #5E5E5E;
  padding: 7px;
  text-align: center;
}
.popover-list li a small {
  display: block;
  font-size: 16px;
  color: #9B9B9B;
}
.refuel-adress {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-weight: lighter;
  font-size: 36px;
  color: #303030;
  text-align: center;
}
.refuel-adress small {
  display: block;
  font-size: 21px;
  color: #8B8B8B;
}
.refuel-car {
  padding: 20px 20px 0;
  font-size: 33px;
  font-weight: lighter;
  line-height: 1em;
}
.refuel-car a {
  display: block;
  font-size: 16px;
}
.add-car-form .login-screen-title {
  margin-top: 0;
}
.add-car-form .item-input {
  padding: 10px 20px;
  position: relative;
}
.add-car-form .item-input input {
  line-height: 1.3em;
  font-weight: lighter;
  font-size: 33px;
  color: #B6B6B6;
}
.add-car-form .item-input.input-info-row {
  padding-right: 44px;
}
.add-car-form .item-input .input-info {
  line-height: 1.3em;
  font-weight: lighter;
  font-size: 33px;
  color: #B6B6B6;
  display: block;
  position: absolute;
  right: 10px;
  top: 14px;
}
.order-info-box {
  padding: 40px 20px;
}
.order-info-box .text1 {
  font-size: 33px;
  overflow: hidden;
  border-bottom: 1px solid #979797;
  padding-bottom: 10px;
}
.order-info-box .text1 span {
  float: right;
}
.order-info-box .text2 {
  font-size: 24px;
  padding: 15px 0;
}
.order-info-box .text2 span {
  float: right;
}
/* icons */
i.icon.icon-car {
  background-image: url(../images/sedan.png);
  background-position: 0 0;
  background-size: auto 100%;
  width: 36px;
  height: 20px;
}
i.icon.icon-settings {
  background-image: url(../images/settings.png);
  background-position: 0 0;
  background-size: auto 100%;
  width: 23px;
  height: 23px;
}
i.icon.icon-close {
  background-image: url(../images/close.png);
  background-position: 0 0;
  background-size: auto 100%;
  width: 17px;
  height: 17px;
}
i.icon.icon-fire {
  background-image: url(../images/fire.png);
  background-position: 50%;
  background-size: 14px 20px;
  width: 29px;
  height: 29px;
}
i.icon.icon-fire-2 {
  background-image: url(../images/fire.png);
  background-position: 50%;
  background-size: auto 14px;
  width: 23px;
  height: 23px;
}
i.icon.icon-cart {
  background-image: url(../images/cart.png);
  background-position: 50%;
  background-size: 100%;
  width: 25px;
  height: 25px;
}
i.icon.icon-fire-blue {
  background-color: #01B8E0;
  border-radius: 50%;
}
i.icon.icon-back.color-white {
  width: 12px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'><path%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23ffffff'%2F><%2Fsvg>");
}
i.icon.icon-plus {
  width: 37px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3C!DOCTYPE%20svg%20%20PUBLIC%20'-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN'%20%20'http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd'%3E%3Csvg%20enable-background%3D%22new%200%200%2080%2080%22%20height%3D%2280px%22%20id%3D%22Icons%22%20version%3D%221.1%22%20viewBox%3D%220%200%2080%2080%22%20width%3D%2280px%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22eeeeee%22%3E%3Cpolygon%20fill%3D%22%23ffffff%22%20points%3D%2261%2C37%2043%2C37%2043%2C19%2037%2C19%2037%2C37%2019%2C37%2019%2C43%2037%2C43%2037%2C61%2043%2C61%2043%2C43%2061%2C43%20%22%2F%3E%3C%2Fsvg%3E");
}
